.category {
  position: relative;
  box-shadow: var(--lightShadow);
  .title {
    position: absolute;
    transition: var(--secondaryTransition);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--mainYellow);
    font-size: 2em;
    text-transform: uppercase;
  }  

  .img-container {
    position: relative;
    background: linear-gradient(
      to right bottom,
      rgba(68, 47, 14, 0.8),
      rgba(44, 27, 0, 0.8)
    );
    height: 280px;
    transition: var(--secondaryTransition);
    .img {
      height: 100%;
      transition: var(--secondaryTransition);
      opacity: 0.4;
    }
    .link{
      cursor: pointer;
      background-color : var(--mainWhite);
      color : var(--mainBrown);
      padding : 1rem 1.25rem;
      position: absolute;
      top : 50% ; 
      left : 50% ; 
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.5s;
      transition-delay: 0.2s;
      border : 1.5px solid var(--mainYellow);
      text-decoration: none;
      &:hover{
        background-color: var(--mainYellow);
        color : var(--mainWhite);
      }
    }
  }  

  &:hover {
    .title {
      top: 80%;     
      text-shadow: 2px 4px 4px rgba(0,0,0,0.5);
    }
    .img {
      opacity: 0.7;
      filter : blur(4px)      
    }
    .link{
      opacity: 1;
    }
  }
  &:not(:hover){
    .link{
      transition-delay: unset;
    }
  }
}
