.info{  
  padding : 3rem 0;
  background-color: var(--mainGrey);
}

.center{
  width : 80vw; 
  margin : 0 auto;
  text-align: center;
}


.btnReadMore{
  cursor: pointer;
  &:hover{
    color : var(--mainYellow);
  }
}

.paragraph{
  margin : 2rem auto;
}

@media screen and (min-width: 768px){
  .center{
    width : 600px;
  }
}