.info{
  padding : 3rem 0;
  width : 80vw;
  margin : auto;
  text-align: center;
}

.center{
  margin: 3rem 0;
}

@media screen and (min-width: 768px){
  .info{
    width : 600px;
  }
}

.btnReadMore{
  cursor: pointer;
  &:hover{
    color : var(--mainYellow);
  }
}